/*html {*/
  /*font-family: 'Roboto', sans-serif;*/
/*}*/

@font-face {
  font-family: "walsheim";
  src: url("fonts/GT-Walsheim-Light.woff") format('woff');
}

html {
  font-family: walsheim;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  font-family: walsheim;
}

.details .header {
  position: relative;
}
.details .copy {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}
.details h1 {
  font-weight: 200;
}
.details h3 {
  margin: 0;
  font-weight: 200;
}
