/*html {*/
  /*font-family: 'Roboto', sans-serif;*/
/*}*/

@font-face {
  font-family: "walsheim";
  src: url("fonts/GT-Walsheim-Light.woff") format('woff');
}

html {
  font-family: walsheim;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  font-family: walsheim;
}

a {
  text-decoration: none;
}

.details .header {
  position: relative;
}
.details .copy {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}
.details h1 {
  font-weight: 200;
}
.details h3 {
  margin: 0;
  font-weight: 200;
}

.confirmation:before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#233259,#18233e);
	opacity: .8;
}
