/*html {*/
  /*font-family: 'Roboto', sans-serif;*/
/*}*/

@font-face {
  font-family: "walsheim";
  src: url("fonts/GT-Walsheim-Light.woff") format('woff');
}

html {
  font-family: walsheim;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

.login {
  max-width: 300px;
  margin: 200px auto;
  text-align: center;
}

.entry img {
  width: 100%;
}

.details .header {
  position: relative;
}
.details .copy {
  position: absolute;
  bottom: 0;
  color: white;
}
.details .reserve {
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 50px;
  color: white;
  background: wheat;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
}
